.container-books-section {
    padding: 50px;
}

.section-header {
    font-family: 'DM Serif Display', serif;
    color: #2F2F2F;
    /* font-size: 22px; */
    margin: 0;
}

.container-books {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book-card {
    display: flex;
    width: 100%;
    margin: 20px 0;
    /* background-color: #F5EFE1; */
    padding: 10px;
}

.book-img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.book-img>img {
    height: 100%;
    width: 100%;

}

.book-title {
    padding: 10px 40px;
    color: #2F2F2F;
    font-family: 'DM Serif Display', serif;
}

.book-title h3 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0;
}

.book-title h4 {
    margin: 10px 0;
    font-size: 20px;
    color: #858585;
    font-weight: 300;
}

.book-price {
    display: flex;
    justify-content: flex-start;
    color: #858585;
}

.book-price img {
    width: 20px;
}

.book-actions {
    display: flex;
}

.book-actions>button {
    margin-right: 10px;
}

.modal {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;

}

.modal .modal-content {
    visibility: hidden;
    width: 900px;
    background-color: #555;
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 8px 20px;
    position: absolute;
    z-index: 1;
    left: 100px;
    margin-left: -70px;
    font-family: 'Kantumruy Pro', sans-serif;
}

.modal-content p {
    margin: 10px 0;
}

/* The Close Button */
.close {
    display: flex;
    justify-content: end;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal .modal-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.modal .show {
    visibility: visible;
}