html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
    background-color: #FBF8F2;
    margin: 0;
    padding: 0;
}

.container-centered {
    width: 100%;
    margin: 0 auto;
    background-color: #FBF8F2;
    display: flex;
    flex-direction: column;
}

.section {
    padding: 50px;
    width: 1600px;
    margin: 0 auto;
}

.section-header {
    font-family: 'DM Serif Display', serif;
    color: #2F2F2F;
    font-size: 2rem;
    margin: 0;
}