html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
    background-color: #FBF8F2;
    margin: 0;
    padding: 0;
}

.container-centered {
    width: 100%;
    margin: 0 auto;
    background-color: #FBF8F2;
    display: flex;
    flex-direction: column;
}