.btn_1 {
    height: 40px;
    width: 150px;
    background-color: #2F2F2F;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.btn_1:hover {
    background-color: #161616;
    transform: scale(1.1);

}

.btn_1:active {
    background-color: #2F2F2F;
}

.btn_1:disabled {
    background-color: #757575;
}

.btn_1:hover:disabled {
    transform: scale(1);
}


.btn_2 {
    height: 30px;
    width: 80px;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    text-align: left;
    color: #2F2F2F;
    cursor: pointer;
}

.btn_2:hover {
    color: #161616;
}

.submit_btn {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #2F2F2F;
}

.shopping_btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.cart-order_btn {
    height: 40px;
    width: 150px;
    background-color: #BFA054;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.cart-order_btn:hover {
    background-color: #8a7237;
    transform: scale(1.1);
}

.item_btn {
    border: none;
    color: white;
    cursor: pointer;
    background: lightseagreen;
    padding: 5px;
    width: 25px;
    height: 25px;
}

.item_btn.add {
    border-radius: 0 5px 5px 0;
}

.item_btn.remove {
    border-radius: 5px 0 0 5px;
}

.item_btn:hover {
    /* transform: scale(1.45, 1); */
    background-color: rgb(24, 139, 134);
}

.delete_btn {
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #757575;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
}

.delete_btn:hover {
    color: #2F2F2F;
}